/*Overall*/
:root{
    --mainColor: rgb(81,98,108);
    --highlight: rgb(66,77,79);
    --backColor: rgb(167,184,181);
    --accentColor: rgb(254,245,216);
    
}

a{
  color: var(--backColor);
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--backColor);
}

button{
    font-family: inherit;
    background-color: var(--accentColor);
}

h1{
    color: var(--accentColor);
}

h2{
  color: var(--accentColor);
}

h3{
    margin-top: 0;
    margin-bottom: 1vh;
    color: var(--accentColor);
}

p{
  color: var(--accentColor);
}

ul{
    margin: 0;
}
/*Nav bar*/
.navBar{
    width: 100vw;
    height: 60px;
    background:  var(--mainColor);
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.navIcons{
    height: 100%;
    margin-left: 95px;
    width: auto;
}

.navButton{
    overflow: hidden;
    height: 100%;
    width: 18%;
    padding-top: 1.25vh;
    padding-bottom: 1.5vh;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    font-size:  20px;
    color: var(--accentColor);
    background: var(--mainColor);
    text-align: center;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
}

.navButton:hover{
    background: var(--highlight);
}

.navPicLeft{
    float: left;
    margin-top:  3px;
    margin-bottom: 3px;
    margin-left: 20px;
    margin-right: 3px;
    padding: 0;
    border: 2px solid var(--accentColor);
    image-orientation: from-image;
    width: 50px;
    border-radius: 50%;
    vertical-align: middle;
}

.navPicRight{
    float: right;
    margin-top:  3px;
    margin-bottom: 3px;
    margin-right: 20px;
    margin-left: 3px;
    padding: 0;
    border: 2px solid var(--accentColor);
    image-orientation: from-image;
    width: 75px;
    height:50px;
    border-radius: 50%;
    vertical-align: middle;
}

/*Main Page*/
.mainPic{
    float: right;
    width: 25vw;
    margin-left: auto;
    margin-right: 5vw;
    margin-top: 7.5vh;
    border-radius: 5%;
    border: 2px solid var(--accentColor);
    vertical-align: middle;
}

.mainContent{
    float: left;
    font-size: 18px;
    border-radius: 5%;
    color: var(--accentColor);
    background: var(--mainColor);
    width: 50vw;
    height: 500px;
    margin-top: 5vh;
    margin-left: 5vw;
    margin-right: auto;
    margin-bottom: 5vh;
    padding-top: 2vw;
    padding-bottom: 2vh;
    padding-left: 1vw;
    padding-right: 1vw;
    text-align: center;
    vertical-align: middle;
}

/*Personal Projects*/
/*carousel based on tutorial from Christian Heilmann, link: https://christianheilmann.com/2015/04/08/keeping-it-simple-coding-a-carousel/*/
.carouselbox {
    font-family: helvetica,sans-serif;
    font-size: 14px;
    width: 30vw;
    position: relative;
    margin: 1em;
    border: 1px solid var(--accentColor);
    box-shadow: 2px 2px 10px var(--accentColor);
    background-color: var(--highlight);
    overflow: hidden;
    float: right;
    margin-right: 15px;
  }
  .content {
    margin: 0;
    padding: 0;
  }
  .content li {
    font-size: 100px;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    text-align: center;
    z-index: 2;
  }
  .active {
    height: 35vh;
  }
  .active li {
    position: absolute;
    top: 200px;
    opacity: 0;
    transform: scale(0);
    transition: 1s;
  }
  .active li.current {
    top: 30px;
    opacity: 1;
    transform: scale(1);
    transition: 1s;
  }
  .buttons {
    display: none;
  }
  .active .buttons {
    display: block;
    padding: 5px 0;
    background: var(--accentColor);
    z-index: 10;
    position: relative;
  }
  .carouselbox button {
    border: none;
    visibility: hidden;
  }
  .active button {
    visibility: visible;
  } 
  .offscreen {
    position: absolute;
    left: -2000px;
  }

  .carouselItem{
    height: 31vh;
  }

  .next{
    float: right;
  }
  
  .previous{
   float: left;
  }

  .car1{
    margin-top: 10vh;
    margin-right: 2vw;
  }

  .car2{
    margin-top: 7vh;
    margin-right: 2vw;
  }

  .personalContent{
    font-size: 18px;
    border-radius: 5%;
    text-align: center;
    background-color: var(--highlight);
    margin-top: 5vh;
    margin-left: 5vw;
    margin-right: 35vw;
    margin-bottom: 5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 1vw;
    padding-right: 1vw;
    text-align: center;
    vertical-align: middle;
  }