/*Overall*/
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    font-family: inherit;
}

/*Nav bar*/
.navBar{
    width: 100vw;
    height: 60px;
    background: slateblue;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.navIcons{
    height: 100%;
    margin-left: 85px;
    width: auto;
}

.navButton{
    overflow: hidden;
    height: 100%;
    width: 16%;
    padding-top: 1.25vh;
    padding-bottom: 1.5vh;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    font-size:  20px;
    color: whitesmoke;
    background: slateblue;
    text-align: center;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
}

.navButton:hover{
    background: blueviolet;
}

.navPic{
    float: left;
    margin-top:  3px;
    margin-bottom: 3px;
    margin-left: 5px;
    margin-right: 3px;
    padding: 0;
    border: 2px solid whitesmoke;
    image-orientation: from-image;
    width: 50px;
    border-radius: 50%;
    vertical-align: middle;
}